<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' href='stylesheets/style.css'>
</head>
<style>
    
</style>
<body>
    <nav class="navbar navbar-dark bg-dark" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <a href="#" class="navbar-brand">Medical Application</a>
    </nav>
    <br>
    <br>
    
    {{{body}}}
<script src='javascripts/ok.js'>
</script>
</body>
</html>