<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' href='stylesheets/style.css'>
</head>
<style>
    
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Medical Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/msg">Message</a>
      </li>
    <li class="navbar-item">
        <a class='nav-link' href='/bank'>Bank</a>
    </li>
    <li class="navbar-item">
        <a class='nav-link' href='/rec'>Recieved Message</a>
    
    <li class="navbar-item" id='okayish'>
        <a class='nav-link active' href='/logout'>Logout</a>
    </li>
     
    </ul>
  </div>
</nav>
    <br>
    <br>
    
    {{{body}}}
<script src='javascripts/ok.js'>
<script src="/js/revolution.extension.actions.min.js"></script>
</script>
</body>
</html>