<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    
</head>
<style>

</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <a href="#" class="navbar-brand" style="font-weight: 500;">Medical Application</a>
        {{# if user }}
            <div class="collapse navbar-collapse">
                
                <ul class="navbar-nav">
                    <li class="navbar-item">
                        {{# if status}}
                        <a class='nav-link' href='/tasks'>Tasks</a>
                        {{ else }}
                        <a class='nav-link' href='/treatment'>Treat Yourself</a>
                       {{/if}}
                    </li>
                </ul>
                <ul class="navbar-nav">
                    
                    <li class="navbar-item">
                        <a class='nav-link' href='/bank'>Bank</a>
                    </li>
                    <li class="navbar-item">
                        <a class='nav-link' href='/rec'>Recieved Message</a>
                    </li>
                    <li class="navbar-item">
                        <a class='nav-link' href='/rec'>Message</a>
                    </li>
                    <li class="navbar-item" id='okayish'>
                        <a class='nav-link active' href='/logout'>Logout</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav ml-auto">
                

                <p class='logged'>
                {{# if status }}
                   <span style="color:rgb(12, 133, 255)">(Dr.){{user}}</span>
                {{ else }}
                    {{user}}
                {{/if}} 
                <p>
                </span>
            </ul>
            
        {{/if}}
        
    </nav>
    <div class='clock'></div>
    <br>
    <br>
        <h1> @Welcome To <span class="head">Distro</span> Hospital</h1>

</body>

</html>