<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    
</head>
<style>

</style>

<body>
    <nav class="navbar navbar-dark bg-dark" style="font-family:Georgia, 'Times New Roman', Times, serif">
        <a href="#" class="navbar-brand">Medical Application</a>
    </nav>
    <br>
    <br>
        <h1> Welcome To Distro Hospital</h1>

</body>

</html>