<h1> Assignment of Cost</h1>

<form action='/assign_post' method="POST">
    <div class="any">
        <div class="form-group col-sm-4 center_div">
            <label class="praj">Doctor</label>
            <input class="form-control" name="cost" type='number' placeholder="COST">
        </div>
        <br>
        <button class="btn btn-primary">Submit</button>
    </div>
</form>