<h2 style="font-family: :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:22px;color:dodgerblue;position:relative:right:190px;">Dashboard</h2>
<h1>Welcome Mr {{usr}}</h1><br>
<div class='center_div'>
        <a href='/getClinicalData'><button class="btn btn-info btn-lg">Avail Clinical Tests</button></a>
</div>