{{# if msg }}
    <div class="alert alert-primary" role="alert">
        {{msg}}
    </div>
{{/if}}
<img class='logo' src='https://png.pngtree.com/png-vector/20191110/ourmid/pngtree-avatar-icon-profile-icon-member-login-vector-isolated-png-image_1978396.jpg' width='70' height='70'><br>
<br><h1 class="heading"> Login </h1>
<br><hr>
<form  action="/login_post" method="POST">
<div class="any">
<div class="form-group col-sm-4 center_div">
    <label class="praj"> Username</label>
    <input class="form-control" name="username" type='text' placeholder="Username">
        
</div>
<br>
<div class="form-group col-sm-4 center_div">
   <label class="praj"> Password</label>
   <input class="form-control" name="password" type='password' placeholder="Password">
</div>
<br>
<button class="btn btn-primary">Submit </button>
</div>
</form> 
