{{# if msg }}
    <div class="alert alert-primary" role="alert">
        {{msg}}
    </div>
{{/if}}
<h1 class="heading"> Login </h1>
<br><hr>
<form  action="/login_post" method="POST">

<div class="form-group col-sm-4 center_div">
    <label class="praj"> Username</label>
    <input class="form-control" name="username" type='text' placeholder="Username">
        
</div>
<br>
<div class="form-group col-sm-4 center_div">
   <label class="praj"> Password</label>
   <input class="form-control" name="password" type='password' placeholder="Password">
</div>
<br>
<button class="btn btn-primary">Submit </button>
</form> 