<form  action="/login_post" method="POST">

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <label class="praj"> Username</label>
            <input class="form-control" name="username" type='text' placeholder="Username">
        </div>

    </div><br><br>
    <div class="row">
        <div class="col-xs-12">
            <label class="praj"> Password</label>
            <input class="form-control" name="password" type='password' placeholder="Password">
        </div>
    </div><br>
    <button class="btn btn-primary">Submit </button>
</div>


</form> 