<h1>
        <center>Profile</center>
</h1><br><br>
<hr>
<center>
        <label>
                <h2 style='color:dodgerblue'><b>Name:</b></h2>
        </label>
        <h3>{{O.Name}}</h3><br>
        <label>
                <h2 style='color:dodgerblue'><b>Description</b></h2>
        </label>
        <h3>{{O.Description}}</h3><br>
        <label>
                <h2 style='color:dodgerblue'><b>Experience:</b></h2>
        </label>
        <h3>{{O.Exp}}</h3><br>
        <a href='/msg'><button class='btn btn-success'>Contact</button></a>
        
</center>