<h1> Nearest Pharmacy</h1><br>

<iframe width="1100" height="1120" frameborder="0" style="border:1;position:relative;left:100px;" src="https://www.google.com/maps/embed/v1/place?key={{api}}
                                &q=pharmacy,nearme" allowfullscreen>
                
</iframe>
<a href="/"><button class="btn btn-danger btn-lg" style="position:relative;top:120px">Back</button></a>
