<h1> Welcome To Our Interacting Sector</h1>

<form action="/msg_post" method="POST">
    <div class="any">
        <div class="form-group col-sm-4 center_div">
            <label class="praj"> User</label>
            <input class="form-control" name="user" type='text' placeholder="User">

        </div>
        <br>
        <div class="form-group col-sm-4 center_div">
            <label class="praj"> Text</label>
            <input class="form-control" name="msg" type='text' placeholder="Msg">
        </div>
        <br>
        <button class="btn btn-primary">Send </button>
    </div>
</form>