<h1 class="heading"> Register </h1>
<br>
<hr>
<form action="/register_post" method="POST">

    <div class="form-group col-sm-4 center_div">
        <label class="praj"> Username</label>
        <input class="form-control" name="username" type='text' placeholder="Username">

    </div>
    <br>
    <div class="form-group col-sm-4 center_div">
        <label class="praj"> Email </label>
        <input class="form-control" name="email" type='email' placeholder="Email">
    </div>

    <div class="form-group col-sm-4 center_div">
        <label class="praj"> Password</label>
        <input class="form-control" name="password" type='password' placeholder="Password">
    </div>
    <div class="form-group col-sm-4 center_div">
        <label class="praj"> Amount on Bank</label>
        <input class="form-control" name="Amount" type='number' placeholder="Bank Account Details">
    </div>
    <br>
    <div class="checkbox">
        <input type="checkbox" name='hos' value='true'>
        <label>Hospital Member</label>
    </div>
   <br>


    <button class="btn btn-primary">Submit </button>
</form>