<form action='/search_name' method="POST">
        <div  style='position:realtive;top:200px;'>
        <div class='form-group col-sm-5 center_div'>
        <label class='praj'>Enter Username</label>
        <input class='form-control' name='search' type='text'/><br><br>
        </div>
        <button class='btn btn-primary'>Search</button>
        </div>
</form>