<h1>Welcome Mr. {{user}}</h1>

<form action="/treat_post" method="POST">
    <div class="any">
        <div class="form-group col-sm-4 center_div">
            <label class="praj">Problem</label>
            <input class="form-control" name="problem" type='text' placeholder="Problem">

        </div>
        <br>
        <div class="form-group col-sm-4 center_div">
            <label class="praj">Doctor</label>
            <input class="form-control" name="Doctor" type='text' placeholder="Doctor">
        </div>
        <br>
        <button class="btn btn-primary">Submit</button>
    </div>
</form>