body {
    background-image: url('../images/Rail.jpg');
    -webkit-background-size: cover;
    text-align:center;
    display: inline;
    
}
h1{
    font-size:36px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:relative;
    top:150px;
    font-weight: 700px;
    color:Azure
}
.logged{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color:azure;
    position:relative;
    bottom:13px;
    right:12px;
    
}
img{
    position:relative;
    right:45px;
    top:16px;
    border-radius:50px;
}
.navbar-brand{
    font-size:16px;
}
.head{
    color:beige;
    font-style: italic;
}