body {

    -webkit-background-size: cover;
    text-align:center;
    display: inline;
    
}
h1{
    font-size:36px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:relative;
    top:240px;
    font-weight: 700px;
    color:darkslategray;
}
.logged{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    color:darkslategray;
    position:relative;
    top:10px;
    right:12px;
    
}
img{
    position:relative;
    right:45px;
    top:16px;
    border-radius:50px;
}
.navbar-brand{
    font-size:16px;
    
}
.head{
    color:dodgerblue;
    font-style: italic;
}